* {
    margin: 0px;
    padding: 0px;
    /* position: relative; */
    /* vertical-align: top;*/
    display: inline-block;
}

.menu {
    width: 100vw;
    height: 90vh;
    /* background-color: aqua; */
    /* margin: 2em; 
    border: 3px solid; */
    display: inline-block;

}

.sub-menu-1 {
    width: 30vw;
    height: 70vh;
    background-color: rgb(181, 56, 56);
    margin: 10px;
    border-radius: 6px;

}

.sub-menu {
    width: 20vw;
    height: 70vh;
    background-color: rgb(232, 199, 199);
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;

}

h1 {
    color: white;
    text-align: justify;
    margin: 17px;
    padding: 20px;
}

.a {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin: 16px;
    margin-bottom: 10px;

}

.button {
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 115px;
    padding: 8px 40px 10px;
    background-color: rgb(181, 54, 54);
    text-align: center;
    border: 0px;
    color: white;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 10px;

}

.button:hover {
    background-color: white;
    color: black;

}

h2 {
    padding-top: 30px;
}

.b {
    text-align: center;
    margin-top: 35px;
    padding-bottom: 45px;
    padding: 20px;

}

i {
    background-color: hsl(350, 33%, 82%);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 90px;
    color: rgb(225, 90, 90);
    font-size: 30px;
    transition-duration: 0.6s;
    transition-timing-function: ease;

}

.b1:hover {
    background-color: rgb(213, 72, 72);
    color: rgb(68, 18, 114);
}

.sub-menu:hover>i {
    background-color: rgb(213, 81, 81);
    color: white;
    font-size: 40px;
    text-align: center;
}